on:
  push:
    branches: [ master ]
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@v4

    - name: Set env vars
      run: |
        source ci/rust-version.sh
        echo "RUST_STABLE=$rust_stable" | tee -a $GITHUB_ENV

    - name: Install system dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libudev-dev protobuf-compiler libclang-dev

    - name: Install Rust toolchain
      uses: dtolnay/rust-toolchain@master
      with:
        toolchain: ${{ env.RUST_STABLE }}
        components: rustfmt, clippy

    - uses: actions/cache@v4
      with:
        path: |
          ~/.cargo/registry
          ~/.cargo/git
          target
        key: cargo-${{ runner.os }}-${{ hashFiles('**/Cargo.lock') }}
        restore-keys: |
          cargo-${{ runner.os }}-

    - name: Install PostgreSQL
      run: ./ci/install-build-deps.sh

    - name: Start PostgreSQL and create schema
      run: ./ci/start_postgres.sh

    - name: Check formatting
      run: cargo fmt --all -- --check

    - name: Clippy
      run: cargo clippy --workspace --all-targets -- --deny=warnings

    - name: Build and test
      run: ./ci/cargo-build-test.sh
